---
---
<footer id="site-footer" style="display:none;">
  <div class="foot-logo">Julian Perez</div>
  <div class="foot-social">
    <a href="https://julianperez.bandcamp.com/" target="_blank" rel="noopener">Bandcamp</a>
    <a href="https://www.youtube.com/channel/@julianperezcom" target="_blank" rel="noopener">YouTube</a>
    <a href="https://open.spotify.com/intl-es/artist/2pMZw333AGGowD4t65HmuC" target="_blank" rel="noopener">Spotify</a>
    <a href="https://music.apple.com/es/artist/julian-perez/1458131437" target="_blank" rel="noopener">Apple Music</a>
    <a href="https://soundcloud.com/julianperez" target="_blank" rel="noopener">SoundCloud</a>
    <a href="https://instagram.com/julianperez" target="_blank" rel="noopener">Instagram</a>
    <a href="https://www.facebook.com/JulianPerezOfficial/" target="_blank" rel="noopener">Facebook</a>
    <a href="https://x.com/julianperezcom" target="_blank" rel="noopener">X / Twitter</a>
    <a href="https://www.threads.com/@julianperez" target="_blank" rel="noopener">Threads</a>
    <a href="https://t.me/julianperezofficial" target="_blank" rel="noopener">Telegram</a>
    <a href="https://www.twitch.tv/julianperezcom" target="_blank" rel="noopener">Twitch</a>
    <a href="https://www.linkedin.com/in/julianperezcom" target="_blank" rel="noopener">LinkedIn</a>
  </div>
  <div class="foot-copy">© 2026 Julian Perez</div>
</footer>
