---
---
<footer id="site-footer" style="display:none;">
  <div class="foot-logo">Julian Perez</div>
  <div class="foot-social">
    <a href="#">SoundCloud</a>
    <a href="#">Spotify</a>
    <a href="#">YouTube</a>
    <a href="#">Instagram</a>
    <a href="#">Resident Advisor</a>
  </div>
  <div class="foot-copy">© 2026 Julian Perez</div>
</footer>
